<div class="row">
  <div class="col-md-1">
    <div class="posts well">
      <p>Votes!</p>
    </div>
  </div>

  <div class="col-md-8">
    <div class="posts well">
      <%= render 'posts/post', post: post %>
    </div>
  </div>
</div>